@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink-anim {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.blink {
	animation: blink-anim 1s infinite;
}

.scrollbar-hidden {
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}
